.sticky-nav {
  z-index: 10000;
  position:fixed;
  top:0;
}

a[selected]:hover {
  font-size : 1.6rem;
}

#next-page:hover,#previous-page:hover {
  color : #ccc;
}


.row {
  margin-top: 10%;
}

.pagination {
  display : flex;
  justify-content: center;
}

.cursor { 
  background: none !important;
  color: white !important;
  border: none !important;
  cursor: pointer !important;
}

.cursor:hover {
  transition: 0.34s;
  color: #212121 !important;
}

.arrow {
  color: #212121 !important;
}

.arrow:hover {
  color: #454444 !important;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
} 

.titleText {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 12px;
}