.sticky-nav {
  z-index: 10000;
  position:fixed;
  top:0;
}

.row {
  margin-top: 10%;
}

button:hover {
  cursor: pointer;
}

.cursor { cursor: pointer;}

.titleText {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 12px;
}